.chat-list-section {
    width: 48%;
    float:left;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.chats {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.chats li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.chats li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.chats li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

#dateTime {
    padding-left: 20%;
}

.chats .text {
  position: relative;
  top: -3px;
}
.chats .badge {
  display: inline-block;
  font-size: small;
  width: 30%;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #ded929;
  line-height: 1em;
  float: left;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
